<html>
    <body>
            <table>
                <tr>
                    <td>{{ match.team1_name }} vs {{match.team2_name}}</td>
                <tr>
                <tr>
                    <td>Ground: {{match.ground}}</td>
                <tr>
                <tr>
                    <td>Num of Overs: {{match.num_overs}}</td>
                <tr>
            </table>

            {% if match.team1.name == match.first_inning %}
                {% set batting_team = match.team1 %}
                {% set bowling_team = match.team2 %}
            {% else %}
                {% set batting_team = match.team2 %}
                {% set bowling_team = match.team1 %}
            {% endif %}
            <h3>Batting team: {{ batting_team.name }}</h3>
            <table border="1">
                <tr>
                    <th>id</th>
                    <th>Player Name</th>
                    <th>Runs</th>
                    <th>Balls played</th>
                </tr>
                {% for player in batting_team.players %}
                <tr>
                    <td>{{ player.id }}</td>
                    <td>{{ player.name }}</td>
                    <td></td>
                    <td></td>
                <tr>
                {% endfor %}
            </table>

            <h3>Bowling team: {{ bowling_team.name }}</h3>
            <table border="1">
                <tr>
                    <th>id</th>
                    <th>Player Name</th>
                    <th>Overs</th>
                    <th>Runs</th>
                    <th>Wides</th>
                </tr>
                {% for player in bowling_team.players %}
                <tr>
                    <td>{{ player.id }}</td>
                    <td>{{ player.name }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                <tr>
                {% endfor %}
            </table>

            <form name="new_ball" method="POST" action="{{ url_for('new_ball', match_id=match.id) }}">
                <table>
                    <tr>
                        <td>Ball Num</td>
                        <td><input type="text" name="ball_num"></td>
                    </tr>
                    <tr>
                        <td>Bowler</td>
                        <td><input type="text" name="bowler_id"></td>
                    </tr>
                    <tr>
                        <td>Batsman</td>
                        <td><input type="text" name="batsman_id"></td>
                    </tr>
                    <tr>
                        <td>Runs</td>
                        <td><input type="text" name="runs"></td>
                    </tr>
                    <tr>
                        <td>is Wide?</td>
                        <td><input type="text" name="is_wide"></td>
                    </tr>
                    <tr>
                        <td>is No?</td>
                        <td><input type="text" name="is_no_ball"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="add_ball" value="Add Ball" /></td>
                    </tr>
                </table>
            </form>
    </body>
</html>